<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardDao">
 
 <insert id="insertBoard" parameterType="com.spring.boardex.impl.projectDo">
 	insert into board (title, writer, content) values (#{title}, #{writer}, #{content})
 </insert>

 
 <select id="getBoardList" resultType="BoardDo">
 	select * from board
 </select>

 
 <select id="getBoard" parameterType="BoardDo" resultType="BoardDo">
 	select * from board where seq=#{seq}
 </select>

 
 <update id="updateBoard" parameterType="BoardDo">
 	update board set title=#{title}, content=#{content} where seq=#{seq}
 </update>
 
 
</mapper>